.THIS .uiInputDateTime .datePicker-openIcon {
   position: absolute;
left: 45%;
top: 45%; }
.THIS .uiInputDateTime .timePicker-openIcon {
   position: absolute;
left: 95%;
top: 70%; }
.THIS .uiInputDefaultError li {
  list-style: none;
}
.THIS .label {
    color: #000;
}