.THIS.tagcloud-container{
    border-radius:5px;
    margin: 15px;
    padding: 10px;
    border: 0;
    background-color:#fff;
}

.THIS .tagcloud-header{
    background-color:#fff;
    color:#fff;
    width:100%;
    height:40px;
    border-radius:5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.THIS .tagcloud-header-body{
    max-width: 38rem;
    padding:0 10px;
    margin: 0 auto;
}

.THIS .tagcloud-header-body h4{
    color:#000;
    margin:0;
    padding: 15px 0 0 0;
}

.THIS.tagcloud-wrapper{
    width: 100%;
    height:400px;
}

.THIS ul.tagcloud-list {
    border:0;
    padding:0 10px;
    font-size: 100%;
    font-weight: bold;
    text-align: center;
}

.THIS li.tagcloud-base {
    font-size:12px;
    padding:2px;
    display: inline;
}

.THIS ul.tagcloud-list a:active {
    -webkit-tap-highlight-color: #5D6B74;
    color:#5D6B74;
}

.THIS a.tagcloud-anchor {
    text-decoration: none;
}

.THIS a {
    color: #006EB3;
}

.THIS .noresults-panel{
    text-align: center;
    padding:10px 0;
}